<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 1:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input -> n=3, m=5</h2>
*****      
*****
*****
</span>
</pre>
</body>
</html>

In [3]:
n = int(input('Enter n: '))
m = int(input('Enter m: '))
for row in range(n):
    for col in range(m):
        print('*', end='')
    print()

Enter n: 3
Enter m: 5
*****
*****
*****

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 2:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
****
 ****
  ****
   ****
</span>
</pre>
</body>
</html>

In [5]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(n+row):
        if col<row:
            print(' ', end='')
        else:
            print('*', end='')
    print()

Enter Number: 4
****
 ****
  ****
   ****

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 3:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 8</h2>
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * * 
* * * * * * * * 
</span>
</pre>
</body>
</html>

In [5]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(n-row-1):
        print(' ', end='')
    for col in range(2*(row+1)-1):
        if col%2==0:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 4:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 10</h2>
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *
</span>
</pre>
</body>
</html>

In [6]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(row):
        print(' ', end='')
    for col in range(2*(n-row)-1):
        if col%2==0:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 10
* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 5:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *
</span>
</pre>
</body>
</html>

In [11]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row < n:
        spaces = n-row-1
        stars = 2*(row+1)-1
    else:
        spaces += 1
        stars -= 2
    for col in range(spaces):
        print(' ', end='')
    for col in range(stars):
        if col%2==0:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 6:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
*                       *
   *                 *
*     *           *     *
   *     *     *     *
*     *     *     *     *
   *     *     *     *
*     *           *     *
   *                 *
*                       *
</span>
</pre>
</body>
</html>

In [9]:
n = int(input('Enter Number: '))

for row in range(2*n-1):
    if row < n:
        left = row + 2*(row+1)-1
        right = 5*(n-1)+n - left
    else:
        left -= 3
        right += 3
        
    if row%2==0:
        star = 0
    else:
        star = 3
    for col in range(5*(n-1)+n):
        if left<=col<right:
            print(' ', end='')
        else:
            if col==star:
                print('*', end='')
                if col==left-1 and row!=n-1:
                    star = right
                else:
                    star += 6
            else:
                print(' ', end='')
    print()

Enter Number: 5
*                       *
   *                 *
*     *           *     *
   *     *     *     *
*     *     *     *     *
   *     *     *     *
*     *           *     *
   *                 *
*                       *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 7:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
    *
   *
  * 
 *   
*********
 *   
  * 
   *
    *
</span>
</pre>
</body>
</html>

In [21]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row<n-1:
        spaces = n-row-1
        star = 1
    elif row==n-1:
        spaces -= 1
        star = 2*n-1
    else:
        spaces += 1
        star = 1
    for col in range(spaces):
        print(' ', end='')
    for col in range(star):
        print('*', end='')
    print()

Enter Number: 5
    *
   *
  *
 *
*********
 *
  *
   *
    *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 8:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
* 
** 
* * 
*  * 
*****
</span>
</pre>
</body>
</html>

In [26]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(row+1):
        if col in [0, row] or row == n-1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
*
**
* *
*  *
*****

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 9:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *
</span>
</pre>
</body>
</html>

In [28]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row<n:
        spaces = n-row-1
    else:
        spaces += 1
    for col in range(n):
        if col<spaces:
            print(' ', end='')
        else:
            print('*', end='')
    print()

Enter Number: 5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 10:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
      *           
    *   *        
  *       *      
*           * 
</span>
</pre>
</body>
</html>

In [31]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(n+row):
        if col in [n-row-1, n+row-1]:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 4
   *
  * *
 *   *
*     *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 11:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 6</h2>
          *
         *
        *
       *
      *
     *
    *
   *
  *
 *
*
</span>
</pre>
</body>
</html>

In [39]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    for col in range((2*n-1)-row):
        if col==(2*(n-1)-row):
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 6
          *
         *
        *
       *
      *
     *
    *
   *
  *
 *
*

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 12:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
*           *   
  *       *      
    *   *         
      *           
    *   *        
  *       *      
*           *
</span>
</pre>
</body>
</html>

In [43]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    for col in range(2*n-1):
        if col in [row, 2*(n-1)-row]:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 4
*     *
 *   *
  * *
   *
  * *
 *   *
*     *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 13:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
*
**
****
********
****************
</span>
</pre>
</body>
</html>

In [45]:
n = int(input('Enter Number: '))
for row in range(0, n):
    for col in range(2**row):
        print('*', end='')
    print()

Enter Number: 5
*
**
****
********
****************

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 14:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
   ****
  ****
 ****
****
</span>
</pre>
</body>
</html>

In [50]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*n-1-row):
        if col < n-row-1:
            print(' ', end='')
        else:
            print('*', end='')
    print()

Enter Number: 4
   ****
  ****
 ****
****

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 15:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
   ****
  *  *
 *  *
****
</span>
</pre>
</body>
</html>

In [54]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*n-1-row):
        if row in [0, n-1] and col>=n-row-1 or col in [n-row-1, 2*(n-1)-row]:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 4
   ****
  *  *
 *  *
****

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 16:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
*           *   
  *       *      
    *   *         
      *
</span>
</pre>
</body>
</html>

In [74]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(4*n-3-2*row):
        if col in [2*row, 4*(n-1)-2*row]:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 4
*           *
  *       *
    *   *
      *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 17:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
*         *
***     ***
***** *****
***********
</span>
</pre>
</body>
</html>

In [17]:
n = int(input('Enter Number: '))
m = 4*n-5
for row in range(n):
    for col in range(m):
        if 2*row+1 <= col < m-(2*row+1):
            print(' ', end='')
        else:
            print('*', end='')
    print()

Enter Number: 4
*         *
***     ***
***** *****
***********

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 18:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
*******
*     *
*     *
*******
</span>
</pre>
</body>
</html>

In [22]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*n-1):
        if row in [0, n-1] or col in [0, 2*(n-1)]:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 4
*******
*     *
*     *
*******

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 19:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 8</h2>
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
* * * * * * * *
</span>
</pre>
</body>
</html>

In [25]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*n-1):
        if col in [n-row-1, n+row-1] or row==n-1 and col%2==0:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 8
       *
      * *
     *   *
    *     *
   *       *
  *         *
 *           *
* * * * * * * *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 20:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
*
  * *
    * * *
      * * * *
    * * *
  * *
*
</span>
</pre>
</body>
</html>

In [5]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row < n:
        stars = 2*row+1
        spaces = 2*row
    else:
        stars -= 2
        spaces -= 1
    for col in range(stars):
        if col < spaces:
            print(' ', end='')
        else:
            print('*', end='')
    print()

Enter Number: 4
*
 **
  ***
   ****
  ***
 **
*

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 21:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
    *
     *
      *
       *
*********
       *
      *
     *
    *
</span>
</pre>
</body>
</html>

In [7]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row < n:
        stars = n + row
    else:
        stars -= 1
    for col in range(stars):
        if col==stars-1 or row==n-1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
    *
     *
      *
       *
*********
       *
      *
     *
    *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 22:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 3</h2>
  *
  *
*****
  *
  *
</span>
</pre>
</body>
</html>

In [17]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row == n-1:
        stars = 2*n-1
    else:
        stars = n
    for col in range(stars):
        if col==stars-1 or row==n-1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 3
  *
  *
*****
  *
  *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 23:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
*   *   
*  *      
* *         
**           
* *        
*  *      
*   * 
</span>
</pre>
</body>
</html>

In [21]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row < n:
        stars = n-row+1
    else:
        stars += 1
    for col in range(stars):
        if col in [0, stars-1]:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 4
*   *
*  *
* *
**
* *
*  *
*   *

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 24:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
* * * * *
*     *
*   *
* *
*
</span>
</pre>
</body>
</html>

In [6]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*(n-row)-1):
        if (col in [0, 2*(n-row-1)] or row==0) and col%2==0:
            print('*', end='')
        else:
            print(' ', end='')
    print()

Enter Number: 4
* * * *
*   *
* *
*

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 25:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1
01
101
0101
10101
</span>
</pre>
</body>
</html>

In [23]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(row+1):
        if col%2==0:
            print('1', end='')
        else:
            print('0', end='')
    print()

Enter Number: 5
1
10
101
1010
10101

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 26:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
</span>
</pre>
</body>
</html>

In [24]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*row+1):
        if col%2==0:
            print(row+1, end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 27:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1
</span>
</pre>
</body>
</html>

In [25]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row < n:
        num = 2*row+1
        spaces = n-row-1
    else:
        num -= 2
        spaces += 1
    for col in range(spaces):
        print(' ', end='')
    for col in range(1,num+1):
        print(col, end='')
    print()

Enter Number: 5
    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 28:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5
</span>
</pre>
</body>
</html>

In [29]:
n = int(input('Enter Number: '))
for row in range(n):
    num = 1
    for col in range(2*row+1):
        if col%2 == 0:
            print(num, end='')
            num += 1
        else:
            print(' ', end='')
    print()

Enter Number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 29:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 4</h2>
1
3 2
6 5 4
10 9 8 7
</span>
</pre>
</body>
</html>

In [39]:
n = int(input('Enter Number: '))
num = 0
for row in range(n):
    for col in range(num+row+1, num, -1):
        print(col, end=' ')
        num += 1
    print()

Enter Number: 4
1
3 2
6 5 4
10 9 8 7

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 30:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
12345
1234
123
12
1
</span>
</pre>
</body>
</html>

In [30]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(n-row):
        print(col+1, end='')
    print()

Enter Number: 5
12345
1234
123
12
1

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 31:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1
12
1 3
1  4
12345
</span>
</pre>
</body>
</html>

In [31]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(row+1):
        if col in [0, row] or row == n-1:
            print(col+1, end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
1
12
1 3
1  4
12345

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 32:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1 1 1 1 1 
2 2 2 2 
3 3 3 
4 4 
5
</span>
</pre>
</body>
</html>

In [36]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*(n-row)):
        if col%2 == 0:
            print(row+1, end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 33:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 7</h2>
0  
0 1  
0 2 4  
0 3 6 9  
0 4 8 12 16  
0 5 10 15 20 25  
0 6 12 18 24 30 36
</span>
</pre>
</body>
</html>

In [15]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(2*row+1):
        if col%2==0:
            print(int((col*row)/2), end='')
        else:
            print(' ', end='')
    print()

Enter Number: 7
0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 34:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
</span>
</pre>
</body>
</html>

In [55]:
n = int(input('Enter Number: '))
num = [1]
new = [1]
for row in range(n):
    print(num[0], end=' ')
    new.append(num[0])
    
    if row > 1:
        for col in range(len(num)-1):
            print(num[col]+num[col+1], end=' ')
            new.append(num[col]+num[col+1])
    if len(num) != 1:
        print(num[0], end=' ')
        new.append(num[0])
    num = new.copy()
    new = []
    print()

Enter Number: 5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 35:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
    1
   1 2
  1   2
 1     2
1       2
 1     2
  1   2
   1 2
    1
</span>
</pre>
</body>
</html>

In [23]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row < n:
        nums = 2*row+1
        spaces = n-row-1
    else:
        nums -= 2
        spaces += 1
    for col in range(spaces):
        print(' ', end='')
    for col in range(nums):
        if col==0:
            print(1, end='')
        elif col==nums-1:
            print(2, end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
    1
   1 2
  1   2
 1     2
1       2
 1     2
  1   2
   1 2
    1

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 36:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
123456789
 1234567
  12345
   123
    1
</span>
</pre>
</body>
</html>

In [30]:
n = int(input('Enter Number: '))
for row in range(n):
    num = 1
    for col in range(2*n-row-1):
        if col < row:
            print(' ', end='')
        else:
            print(num, end='')
            num += 1
    print()

Enter Number: 5
123456789
 1234567
  12345
   123
    1

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 37:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1
2 6
3 7 10 
4 8 11 13
5 9 12 14 15
</span>
</pre>
</body>
</html>

In [12]:
n = int(input('Enter Number: '))
for row in range(n):
    num = row + 1
    for col in range(2*row+1):
        if col%2==0:
            print(num, end='')
            num += n-1-int(col/2)
        else:
            print(' ', end='')
    print()

Enter Number: 5
1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 38:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
    1
   12
  123
 1234
12345
</span>
</pre>
</body>
</html>

In [17]:
n = int(input('Enter Number: '))
for row in range(n):
    num = 1
    for col in range(n):
        if col < n-row-1:
            print(' ', end='')
        else:
            print(num, end='')
            num += 1
    print()

Enter Number: 5
    1
   12
  123
 1234
12345

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 39:</h2>
<pre>
<span style="font-size: 20px;">
    10
   1010
  101010
 10101010
1010101010
</span>
</pre>
</body>
</html>

In [21]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(n):
        if col < n-row-1:
            print(' ', end='')
        else:
            print('10', end='')
    print()

Enter Number: 5
    10
   1010
  101010
 10101010
1010101010

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 40:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 6</h2>
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1
</span>
</pre>
</body>
</html>

In [33]:
n = int(input('Enter Number: '))
for row in range(2*n-1):
    if row < n:
        middle = 2*row+1
        left_spaces = n-row-1
        num = row + 1
    else:
        middle -= 2
        left_spaces += 1
        num -= 1
    for col in range(left_spaces):
        print(' ', end='')
    for col in range(middle):
        if col%2!=0:
            print(' ', end='')
        else:
            print(num, end='')
    print()

Enter Number: 6
     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 41:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1 
33 
555 
7777 
99999
</span>
</pre>
</body>
</html>

In [34]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(row+1):
        print(2*row+1, end='')
    print()

Enter Number: 5
1
33
555
7777
99999

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 42:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1 
1 2 1 
1 2 3 2 1 
1 2 3 4 3 2 1 
1 2 3 4 5 4 3 2 1
</span>
</pre>
</body>
</html>

In [41]:
n = int(input('Enter Number: '))
for row in range(n):
    num = 0
    for col in range(4*row+1):
        if col%2!=0:
            print(' ', end='')
        elif col < 2*row+1:
            num += 1
            print(num, end='')
        else:
            num -= 1
            print(num, end='')
    print()

Enter Number: 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 43:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
12345
2  5
3 5
45
5
</span>
</pre>
</body>
</html>

In [46]:
n = int(input('Enter Number: '))
for row in range(n):
    for col in range(row+1, n+1):
        if col in [row+1, n] or row==0:
            print(col, end='')
        else:
            print(' ', end='')
    print()

Enter Number: 5
12345
2  5
3 5
45
5

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 44:</h2>
<pre>
<span style="font-size: 20px;">
<h2 style="font-size: 20px;">User Input = 5</h2>
1 
2 3 4 
5 6 7 8 9
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 45:</h2>
<pre>
<span style="font-size: 20px;">
    1
   232
  34543
 4567654
567898765
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 46:</h2>
<pre>
<span style="font-size: 20px;">
1234567
 234567
  34567
   4567
    567
     67
      7
     67
    567
   4567
  34567
 234567
1234567
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 47:</h2>
<pre>
<span style="font-size: 20px;">
10 
10 8 
10 8 6 
10 8 6 4 
10 8 6 4 2
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 48:</h2>
<pre>
<span style="font-size: 20px;">
0 1 2 3 4 5 
0 1 2 3 4 
0 1 2 3 
0 1 2 
0 1
0
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 49:</h2>
<pre>
<span style="font-size: 20px;">
    A
   B C
  D E F
 G H I J
K L M N O
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 50:</h2>
<pre>
<span style="font-size: 20px;">
    A
   ABC
  ABCDE
 ABCDEFG
ABCDEFGHI
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 51:</h2>
<pre>
<span style="font-size: 20px;">
    A
   A B
  A   B
 A     B
A       B
 A     B
  A   B
   A B
    A
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 52:</h2>
<pre>
<span style="font-size: 20px;">
A 
B B 
C C C 
D D D D 
E E E E E 
F F F F F F 
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 53:</h2>
<pre>
<span style="font-size: 20px;">
    A
   A B
  A B C
 A B C D
A B C D E
 F G H I
  J K L
   M N
    O
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 54:</h2>
<pre>
<span style="font-size: 20px;">
A B C D E F 
A B C D E 
A B C D 
A B C 
A B 
A 
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 55:</h2>
<pre>
<span style="font-size: 20px;">
A
ABA
ABCBA
ABCDCBA
ABCDEDCBA
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 56:</h2>
<pre>
<span style="font-size: 20px;">
1
2*2
3*3*3
4*4*4*4
5*5*5*5*5
4*4*4*4
3*3*3
2*2
1
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 57:</h2>
<pre>
<span style="font-size: 20px;">
*
*1*
*121*
*12321*
*121*
*1*
*
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 58:</h2>
<pre>
<span style="font-size: 20px;">
1
2*3
4*5*6
4*5*6*7
4*5*6
2*3
1
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 59:</h2>
<pre>
<span style="font-size: 20px;">
*
--
***
----
*****
------
*****
----
***
--
*
</span>
</pre>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h2 style="font-size: 20px;">Pattern 60:</h2>
<pre>
<span style="font-size: 20px;">
         * 
        * * 
       * * * 
       * * * 
      * * * * 
     * * * * * 
    * * * * * * 
   * * * * * * * 
      * * * * 
     * * * * * 
    * * * * * * 
   * * * * * * * 
  * * * * * * * * 
 * * * * * * * * * 
* * * * * * * * * * 
       * * * 
       * * * 
       * * * 
       * * * 
       * * * 
</span>
</pre>
</body>
</html>